# Python
__pycache__/
*.pyc

# Logs
*.log

# Playwright
playwright-report/
test-results/

# Runtime artifacts
runtime/reports/*
runtime/screenshots/*
runtime/logs/*
runtime/generated_files/*

# Keep folders
!runtime/reports/.gitkeep
!runtime/screenshots/.gitkeep
!runtime/logs/.gitkeep
!runtime/generated_files/.gitkeep

# IDE
.vscode/